[Desktop Entry]
Version=1.0
Name=Budget
Comment=Budget (Personal profile)
Exec=google-chrome-stable --profile-directory="Default" --new-window https://docs.google.com/spreadsheets/d/18fQ_FbrJ0huQZwS6oEJiGKf_wtRJutwTpamZOMZE-GI
Terminal=false
Type=Application
Icon=/home/ko/.local/share/applications/icons/Budget.png
StartupNotify=true
