[Desktop Entry]
Version=1.0
Name=Dynamics FSA - SIT
Comment=Dynamics FSA - SIT (RPC profile)
Exec=google-chrome-stable --profile-directory="Profile 3" --new-window https://operations-rpc-sit.crm.dynamics.com/main.aspx?appid=73bc83b8-cad9-f011-8544-7c1e52485c79&forceUCI=1&pagetype=entitylist&etn=msdyn_workorder&viewid=70518e86-6ec4-ed11-b596-0022482d11ed&viewType=1039
Terminal=false
Type=Application
Icon=/home/ko/.local/share/applications/icons/Dynamics FSA - SIT.png
StartupNotify=true
