[Desktop Entry]
Version=1.0
Name=Gmail
Comment=Gmail (Personal profile)
Exec=google-chrome-stable --profile-directory="Default" --new-window https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox
Terminal=false
Type=Application
Icon=/home/ko/.local/share/applications/icons/Gmail.png
StartupNotify=true
